@font-face {
    font-family: 'MS Sans Serif Extended';
    src: url('/fonts/MSSansSerifExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 650px;
    height: 430px;
    transform-origin: center center;
    font-family: 'MS Sans Serif Extended', sans-serif;
}

#gameCanvas {
    display: block;
    background-color: white;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

