@import "./styles/tokens.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  color: var(--color-text-primary);
  background-color: var(--color-bg-page);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 1px;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--color-focus);
  outline-offset: 1px;
}
